@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: transparent;
}

.entirePage{
    height: 98vh;
}

.box{
    width: 200px;
    height: 130px;
    padding: 20px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    border-top-style: solid;
}
.boxTitles{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: -10px;
}
.image{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin-bottom: -20px;
}

.boxContent{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 8px;
    color: gray;
}

.TitleBox{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 140px;
}

.Title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: darkgray;
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: -15px;
}

.titleText{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 8px;
    color: gray;
    margin-top: -10px;
}

.Supervisor{
    border-top-color: hsl(180, 62%, 55%);
}

.Karma{
    border-top-color: hsl(34, 97%, 64%);
}

.TeamBuilder{
    border-top-color: hsl(0, 78%, 62%);
}

.Calculator{
    border-top-color: hsl(212, 86%, 64%);
}

.Graphics{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.Graphic23{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .body{
        width: auto;
    }
    .entirePage{
        height: auto;
        margin-bottom: 50px;
    }
    .box{
        width: auto;
        height: auto;
    }
    .Graphic1{
        width: 200px;
    }
    .Graphic23{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .Graphics{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 50px;
    }

}